@font-face {
    font-family: "ArsenalRegular";
    src: url("./fonts/Arsenal-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/NunitoSans-Regular.ttf") format("truetype");
    font-weight: bold;
}

;

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;

    font-weight: 400
}

* {
    font-family: 'Nunito';
}

body {
    background-color: #FFFFFF;

}


h1,
h2,
h4,
h3,
h5,
span,
label,
form,
.bgcolor,
tr {
    font-family: 'ArsenalRegular';
    color: '#364958';
}


.inactive {
    color: #364958;
    text-decoration: none;
}

.active {
    color: #364958 !important;
    text-decoration: none;
}

a {
    color: #0ea479c4;
}

a:hover {
    cursor: pointer;
    color: #0EA47A;
}

.rtf {
    z-index: 100 !important;
}

.rtf--mb {

    background-color: #364958 !important;
}

input:focus,
textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #0EA47A !important;
    outline-width: 0;
    font-weight: 400
}


.input-group {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #0ea4794f;
    background-color: transparent;
    border-color: transparent transparent #0EA47A;
}

a.nav-link {
    color: #0EA47A;
}

a.nav-link:hover {
    color: #0ea4794f;
}

a.nav-link.active {
    color: #0ea4794f !important;
}



.input-group-text {
    color: #FFFFFF;
    border: 1px solid #0EA47A !important;
    background-color: #0EA47A !important;
}

.bgcolor {
    background-color: #364958;
    color: #FFFFFF;
}

.footer {
    display: block;
    box-sizing: border-box;
    height: 500px;
    background-color: #0ea479;
    clip-path: ellipse(78% 100% at 29.84% 100%);
}

.curves {
    position: relative;
    width: 1000px;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3ClinearGradient id=%22linearGradientId%22 gradientTransform=%22rotate(135 0.5 0.5)%22%3E %3Cstop offset=%220%25%22 stop-color=%22%23ffffff%22 %2F%3E %3Cstop offset=%22100%25%22 stop-color=%22%23c7faec%22 %2F%3E %3C%2FlinearGradient%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M785%2C594Q609%2C688%2C485%2C715Q361%2C742%2C185.5%2C621Q10%2C500%2C183.5%2C376Q357%2C252%2C513%2C229.5Q669%2C207%2C815%2C353.5Q961%2C500%2C785%2C594Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23linearGradientId)%22 d=%22M785%2C594Q609%2C688%2C485%2C715Q361%2C742%2C185.5%2C621Q10%2C500%2C183.5%2C376Q357%2C252%2C513%2C229.5Q669%2C207%2C815%2C353.5Q961%2C500%2C785%2C594Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");


}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 180px;
}

#menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
}

.form-controls {
    border-radius: 15px;
}




@import "@webpixels/css";