@font-face {
    font-family: "ArsenalRegular";
    src: url("./fonts/Arsenal-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Nunito";
    src: url("./fonts/NunitoSans-Regular.ttf") format("truetype");
    font-weight: bold;
}

;

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

* {
    font-family: 'Nunito';
}

body {
    background-color: #FFFFFF;

}


h1,
h2,
h5,
span,
label,
form,
.bgcolor,
tr {
    font-family: 'ArsenalRegular';
    color: '#364958';
}


.inactive {
    color: #364958;
    text-decoration: none;
}

.active {
    color: #364958 !important;
    text-decoration: none;
}

a {
    color: #0ea479c4;
}

a:hover {
    cursor: pointer;
    color: #0EA47A;
}

.rtf {
    z-index: 100 !important;
}

.rtf--mb {

    background-color: #364958 !important;
}

input:focus,
textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #0EA47A !important;
    outline-width: 0;
    font-weight: 400
}


.input-group {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #0ea4794f;
    background-color: transparent;
    border-color: transparent transparent #0EA47A;
}

a.nav-link {
    color: #0EA47A;
}

a.nav-link:hover {
    color: #0ea4794f;
}

a.nav-link.active {
    color: #0ea4794f !important;
}



.input-group-text {
    color: #FFFFFF;
    border: 1px solid #0EA47A !important;
    background-color: #0EA47A !important;
}

.bgcolor {
    background-color: #364958;
    color: #FFFFFF;
}

@import "@webpixels/css";